.image-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Style each image with a float to align them horizontally */
.image-container img {
  float: left;
  margin: 10px; /* Add some margin for spacing */
  width: 440px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

.logo-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Style each image with a float to align them horizontally */
.logo-container img {
  float: left;
  margin: 10px; /* Add some margin for spacing */
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}


.art-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Style each image with a float to align them horizontally */
.art-container img {
  float: left;
  margin: 5px; /* Add some margin for spacing */
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  object-fit: contain;
  pointer-events: none; /* Make the image non-clickable */
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 30px;
}
.banner-container img{
  border-radius: 30px;
}

.buttons-links {
  margin: 10px;
  border-color: #574232;
}
.buttons-links:hover{
  background-color: #574232;
  color: white;
  cursor: pointer;
}