.image-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Style each image with a float to align them horizontally */
.image-container img {
  float: left;
  margin: 10px; /* Add some margin for spacing */
  width: 440px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

/* To zoom into image*/
.click-zoom input[type=checkbox] {
  display: none;
}

.click-zoom img {
  margin: 30px;
  max-width: 100%;
  box-shadow: 0px 0px 19px 7px rgba(56,32,20,0.16);
  height: auto; /* Maintain the aspect ratio */
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out;
}


.examples-container img{
  margin: 30px;
  max-width:100%;
  height: auto; /* Maintain the aspect ratio */
}

.logo-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Style each image with a float to align them horizontally */
.logo-container img {
  float: left;
  margin: 10px; /* Add some margin for spacing */
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}


.art-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Style each image with a float to align them horizontally */
.art-container img {
  float: left;
  margin: 5px; /* Add some margin for spacing */
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  object-fit: contain;
  pointer-events: none; /* Make the image non-clickable */
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 30px;
}
.banner-container img{
  border-radius: 30px;
  max-width: 100%;
  height: auto;
}

.buttons-links {
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: #574232;
  transition: 0.4s;
}
.buttons-links:hover{
  background-color: #574232;
  color: white;
  cursor: pointer;
}